* {
	margin: 0;
	padding: 0;
	border: 0;	
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin:0 auto 0 auto;
	font-family:arial;
	background-color:#292728;;
	font-size:12px;
	width:1300px;
}

/*Section*/
section {
	margin-left:2px;
}
/*Use Flex-box*/
.flex-container {
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	flex-wrap:wrap;
	width:648px;
	float:left;
}

.flex-item:nth-child(1) {
	width:648px;
	float:left;
	background-color:white;
	
}

/*Flex item 1*/
.title {
	background-image:url('../images/h2-confidential-heading-bg.gif');
	font-weight:bold;
	border-bottom:dotted 1px black;
	border-right:solid 1px black;
	color:white;	
	padding-left:10px;
}

.mimic-content {
	width:323px;
	float:left;
	border-right:solid 1px black;
	
}

.mimic-content img {
	padding-left:10px;
}

.mimic-content p {
	padding-left:10px;
}

.mimic-content a {
	text-decoration:none;
	color:black;
	font-weight:bold;	
}

.flex-item:nth-child(2),.flex-item:nth-child(3) {
	width:310px;	
	background-color:white;
	margin-left:7px;
	margin-right:7px;
	margin-top:10px;
	
}

.flex-item:nth-child (2) {
	height:100px;
}

.flex-item:nth-child (3) {
	margin-left:10px;
}

/*Flex item 2*/
.title-box {
	background-image:url('../images/h2-top-movie-trailers-bg.gif');
	font-weight:bold;
	border-bottom:dotted 1px black;
	border-right:solid 1px black;
	color:white;	
	padding-left:10px;
}

.title-content {
	width:300px;
	float:left;	
	background:url(../images/h3-movie-trailers-bg.gif) repeat-x;
	padding-left:10px;
}

.title-content h5  {
	font-weight :bold;
	color:#1787d3;
	float:left;	
	line-height :1.5;
}

.title-content img { 		
	float :right;
	padding-top:8px;
	padding-right:4px;
}

.show-content {
	width :302px;	
	float :left;
	padding-left :10px;
	margin-top :10px;
	padding-bottom:8px;
	border-bottom:dotted 1px #bdbdbd;
}

.show-content img {
	width:100px;
	height:75px;
	float:left;
	padding-right:10px;
}

.show-content p {
	line-height:1.3;
	padding-right:10px;
}

.show-content a {	
	padding-left:25px;
	text-decoration:none;
	color:#1787d3;
	font-weight:bold;
	background:url(../images/watch-trailer.gif) no-repeat left;
}

.now-showing-title {
	width: 26%;
	float: left;
	padding: 6px;
	padding-left: 20px;
	font-weight: bold;
	margin-left:10px;
	background: url(../images/now-showing-icon.gif) no-repeat;
}

select {
	width: 60%;
	float: left;
	margin-top:2px;
	border:solid 1px black;
}
 /*Flex item 3*/
.row-move-item {
	width:100%;
	float:left;
}

.rating2 {
	font-weight :bold;
	color:#1787d3;
	float:left;	
	line-height :1.5;
	padding-left:10px;
}

.rating {
	float:right;
	padding-right:5px;
}

.view-trailer {
	width:310px;
	margin-top:20px;
}

.movie-listing {
	width:100%;
	float:left;
	
}

.movie-listing a{
	text-decoration:none;
	float:right;
	color:#bdbdbd;
}

.cinema-listing {
	margin-left:10px;
	width:60%;
	
}

.cinema-listing a {
	background:url(../images/clock.gif) no-repeat left;
	padding-left:30px;
	float:left;
	width:80%;
	font-weight :bold;
	color:#1787d3;
}

/*Sidebar - right*/
.sidebar-right {
	width: 320px;
	float: left;
	padding-left:25px;
}

.sidebar-right form {
	padding-left:16px;
}

.sidebar-right .button {
	background-color:purple;
}

/*Navibar*/
.nav-content {
	padding: 10px 20px;
	width: 93%;
	display: table;
	border-top: dotted #FFF;
	margin-top: 10px;
	padding-left: 20px;
	
}

.nav-content ul {
	padding-left: 36px;
	list-style:none;
}

.nav-content ul li {
	float: left;
	padding-top:5px;
	padding-left:50px;
	padding-right:50px;
	text-align: center;
}

.nav-content ul li a {
	color: #fff;
	text-decoration:none;
}
/*footer*/
footer {
	background-color: #FFF;
	text-align: center;
	color: #1d7cb6;
	width: 97%;
	float: left;
}

footer a {
	color: #1d7cb6;
	text-decoration:none;
}

.footer-nav {
	display: table;
	padding: 5px 46px 0px;
	line-height: 1.5;
	text-align: center;
	float:left;
}

.footer-nav ul {
	list-style:none;

}

.footer-nav ul li {
	float: left;
}

.footer-nav ul li a {
	padding: 0px 5px;
	border-right: #1d7cb6 solid 1px;
	text-decoration:none;
	color:#1e8db8;
}
footer p {
	margin-right:300px;
}
.back-to-top {
	line-height: 0;
	padding-top: 19px;
}