* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {		
	margin: auto;
	font-family: Verdana, Arial, sans-serif;
	color: #FFF;
	line-height: 1.25;
	font-size: 14px;
}

header {
	background: #2d2f35;
	height: 110px;
	border-bottom: 1px solid #474a51;
}

header .logo {
	padding-left: 10px;
}

.main-content {
	font: 11pt;
	width: 100%;	
	background: #2d2f35;
	height: 380px;
	border-bottom: 1px solid #474a51;
}

.banner {
	height: 300px;
	background-image: url(../images/bg_home_intro.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #474a51;
}

.banner .banner-text {
	width: 400px;
	float: left;
}

.banner .banner-img{
	float: right;
}

.banner .banner-title {
	color: yellow;
	font-size: 16pt;
	padding-bottom: 10px;
}

.nav {
	height: 142px;
	background: #2d2f35;
	border-bottom: 1px solid #474a51;
	text-align: center;
}

.nav .row {	
	padding-left: 45px;	
}

.nav .menu {
	width: 240px;
	position: relative;
	float: left;
	padding-top: 20px;
}

.nav .menu .menu-list {
	position: absolute;
	left: 198px;
	top: 21px;
}

.row {
	width: 1000px;
	margin: auto;
	display: block;
	clear: both;
}

.row .title {
	height: 30px;
	width: 100%;
	color: yellow;
	font-size: 16pt;
}

.row .content {
	font-size: 12px;
}

.left-content, .right-content {
	width: 400px;
	text-align: justify;
}

.left-content {
	float: left;
	background-image: url('images/home_services_bg_design.gif');
	background-repeat: no-repeat;
	background-position: right 10px bottom -12px;
}

.right-content {
	float: right;
	background-image: url('images/home_services_bg_marketing.gif');
	background-repeat: no-repeat;
}

.right-content .content {
	margin-top: 42px;
}

footer {
	background: #24262a;
	text-align: center;
}

