* {
	margin: 0;	
	border: 1;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	margin: 0 auto 0 auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-height: 1.5px;
	width:600px;
}

#outer {
	width: 500px;
	border: solid 1px #0033FF;	
	
}
/*Player-Profile */
.title-player-profile {
	font-weight: bold;
	background-image: url(../image/title_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	line-height: 1.5;
	padding-left:5px;
}

.img-profile {
	width: 90px;
	float: left;
	height: 90px;
	padding-left: 10px;
	padding-right:10px;
}

.content-profile {
	floaf: left;
	width: 78%;
	height: 112px;
	overflow: scroll;
}
/* Facts */
.row {
	width: 100%;
	display: block;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}

.title {
	font-weight: bold;
	margin-bottom: 15px;
	padding-left: 5px;
}

.list-facts li {		
	list-style-image: url(../image/star.gif);
	list-style-position: inside;	
}
/* Comment */
.comment-content {
	background: #ECECEC;
	font-size: 14px;
	margin-left: 5px;
	padding-left: 5px;
}
.comment-by {
	background: url(../image/comment_bt.gif) no-repeat;
	padding-left: 55px;
	font-size: 13px;
}
.comment-by a {
	color: blue;
}
.title-comment {
	margin-top: 15px;
	font-weight: bold;
	padding-left: 200px;
	
}
/* Your comment*/
table,table input {
	font-size: 13px;
}
.width {
	width: 110px;
	vertical-align: middle;
	padding-left: 5px;
}