*
{
	margin: 0;
	padding: 0;
	border: 0;	
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body
{
	margin:0 auto 0 auto;
	background-color:#121212;
}
section
{
	width:1200px;
	
}
header
{
	height:400px;
	padding-left:20px;
	background:url('images/fill_header.jpg') no-repeat top;
}
.logo
{	
	height:116px;
	padding-left:100px;
	padding-top :80px;	
	font-size:30px;
	font-weight:bold;
	font-family: Arial;
	background:url('images/logo.png') no-repeat left;
}
.logo p
{
	padding-top:5px;
}
.logo b
{
	color:#865722;
}

.menu-header img 
{
	width:140px;
	
}
.menu-header a
{
	color:white;
	text-decoration:none;
	float:left;
	width:150px;	
	text-align:center;
}
.siderbar
{
	display:block;
	width:228px;
	float:left;
	padding-left:30px;
	padding-right:30px;
	background:url('images/more.gif') repeat;
	color:#505947;
}
.content-siderbar
{
	border-top:solid 1px #666666;
	border-bottom:solid 1px #333333;
	padding-top:30px;
	padding-bottom:80px;
	margin-top:40px;
	
}
.list-siderbar
{
	padding-top:30px;
	padding-left:30px;
}
.list-siderbar a
{
	text-decoration:none;
	color:#505947;
	line-height:1.5;
	margin-bottom:40px;
}
.content
{	width:500px;
	padding-top:35px;
	padding-left:30px;
	display:block;	
}
article
{
	padding-left:20px;
}
.content-article
{	
	padding-top:20px;
}
.text-article
{
	margin-top:20px;
	padding-bottom:30px;
	border-bottom:dotted 1px #323232;
	color:#505947;	
}
.more-article
{
	margin-top:10px;
	margin-bottom:40px;
	padding-left:20px;
	background:url('images/arr_1.gif') no-repeat;
}
.more-article a
{
	text-decoration:none;
	color:white;
}
footer
{
	width:1200px;
	height:50px;
	margin-top:20px;
	border-top:dotted 1px #323232;
	display:block;
	color:#505947;
	padding-top:20px;
}
footer a
{
	text-decoration:none;
	color:#505947;	
}